body{ 
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
} 

/* header */
header {
  background-color:#023047;
  text-align: center;
}

.user-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myimage {
  width: 170px;
  height: 150px;
  padding-right: 20px;
  padding-top: 10px;
  display: inline;
  border-radius: 20px;
}

h1 {
  color: white;
  display: inline;
}

nav {
  font-size: bold;
  background-color: #000;
  
}

nav a {
  color: antiquewhite;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  padding: 10px;
}

/* a:hover {
  display: inline;
  background-color: aliceblue;
} */

/* main */
.card{
  display: grid;
  grid-template-columns: 1fr;
} 

ul li a{
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style-type: none;
}


h2 {
  text-align:center;
}

h3 {
  color: white;
  text-align: center;
  background-color: #023047;
  margin-top: 20px;
  padding: 10px;
}

p {
  color: white;
  margin: 10px;
}


/* footer */

footer {
  text-align: center;
  background-color: #023047;
}

footer p {
  padding-top: 15px;
}

.flag {
  display: inline; 
  width: 100px;
  border-radius: 15px;

}

.country {
  display: inline;
}

#lastmodified {
  color: rgb(255, 255, 5);
  padding-bottom: 10px;
}